.disclaimer {
  position: relative;
  margin-top: 10px;

  font-family: Arial;

  width: fit-content;
  border-radius: 5px;
  border: 0;
  backdrop-filter: blur(4px);
  background-color: rgb(255, 255, 255, 0.2);

  min-height: 50px;
  font-size: 14px;
  color: #424242;
  padding: 10px 10px;
  box-sizing: border-box;
}

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 22px;
  font-family: 'Coolvetica';
  text-decoration: none;
  background-color: rgba(42, 96, 96, 0.75);
  color: #fff;
  backdrop-filter: blur(4px);
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
  padding-right: 10px;
  border-radius: 0 5px 5px 0;
  svg {
    margin-right: 10px;
    margin-left: 10px;
  }
  animation: nudge-demo 4s infinite;
}

.next-button {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  font-size: 22px;
  font-family: 'Coolvetica';
  text-decoration: none;
  background-color: rgba(42, 96, 96, 0.75);
  color: #fff;
  backdrop-filter: blur(4px);
  clip-path: polygon(92.5% 0%, 0% 0%, 0% 100%, 92.5% 100%, 100% 50%);
  padding: 0 0 0 10px;
  border-radius: 5px 0 0 5px;
  animation: nudge-demo 4s infinite;
  animation-delay: 2s;
  svg {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@keyframes nudge-demo {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 5%;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: 5%;
  }
  40% {
    margin-left: 0;
  }
  100% {
    margin-left: 0;
  }
}


@media screen and (max-width: 600px) {
  .disclaimer {
    width: 100%;
    margin-top: 0;
  }
}