.home-page {
  .popup {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    z-index: 2000;
    position: fixed;

    .popup-body {
      font-size: 14px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 10px;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;

      strong {
        font-weight: bold;
      }

      p {
        text-align: justify;
        margin-bottom: 10px;
      }

      hr {
        border: none; /* Change the color of the line (#333 is a dark gray) */
        height: 1px;
        background-color: #333;
      }

      button {
        text-decoration: none;
        width: 100%;
        //margin: 0 10px;
        background-color: #ffd700;
        color: #000;
        padding: 8px 16px;
        border: none;
        border-radius: 10px;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 2px;
        cursor: pointer;
        font-weight:bold;
        font-family: 'helvetica';

        &:hover {
          background-color: #ffc700;
        }

        a {
          /* Your styles for the link inside the button */
          text-decoration: none;

          &:visited {
            color: #000; /* Set the visited link color to the same as the regular link color */
          }
        }
      }

      @media (max-width: 600px) {
        width: 80%;
        border-radius: 20px;
      }
    }
  }
  .text-zone {
    position: absolute;
    left: max(10%, 150px);
    top: 20%;
    width: auto;
    max-height: 90%;
    text-align: left;
    z-index: 1000;
    backdrop-filter: blur(2px);
  }

  h1 {
    color: #ffc700;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    text-shadow: 2px 2px 4px rgb(80, 80, 80, 0.8);
  }

  h2 {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: sans-serif;
    overflow: hidden;
    text-shadow: 1px 1px 2px #000;
    animation: fadeIn 1s 0.5s backwards;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 24px;
    color: #4d4d4e;
    font-size: 20px;
    font-family: 'Coolvetica';
    font-weight: 1;
    animation: fadeIn 1s 0.5s backwards;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 250px;
    justify-content: center;
    margin-bottom: 40px;

    .flat-button {
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      font-family: sans-serif;
      letter-spacing: 4px;
      white-space: nowrap;
      color: #222;
      text-decoration: none;
      padding: 10px 0;
      margin-top: 0;
      border-radius: 24px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(2px);
      box-shadow: 6px 8px 14px rgb(100, 160, 140, 0.7),
        -6px -8px 14px rgb(255, 255, 255, 0.5);

      animation: fadeIn 2s 1s backwards, buttonShadow 2s 1s backwards;

      &:hover {
        box-shadow: inset 2px 2px 4px rgb(0, 0, 0, 0.5),
          6px 8px 14px rgb(100, 160, 140, 0.7),
          -6px -8px 14px rgb(255, 255, 255, 0.5) !important;
        background: #ffd700;
        color: #444;
      }
    }

    @keyframes buttonShadow {
      from {
        box-shadow: 0 0 0 rgba(100, 160, 140, 0);
      }
      to {
        box-shadow: 6px 8px 14px rgb(100, 160, 140, 0.7),
          -6px -8px 14px rgb(255, 255, 255, 0.5);
      }
    }

    .account {
      width: 100%;
    }

    .year-buttons {
      display: flex;
      flex-direction: row;
      margin-top: 5px;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;

      .second {
        width: calc(50% - 5px);
        margin: 24px 10px 0 0;
      }
      .third {
        margin-top: 24px;
        width: calc(50% - 5px);
      }
    }

    .demo {
      font-weight: bold;
      align-self: flex-start;
      position: relative;
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      font-size: 16px;
      letter-spacing: 2px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(4px);
      clip-path: polygon(90% 0%, 0% 0%, 0% 100%, 90% 100%, 100% 50%);
      box-shadow: none !important;
      padding: 0 10px;
      border-radius: 5px 0 0 5px;
      overflow: hidden;
      transition: padding 0.3s ease !important;
      transition: width 0.3s ease !important;
      animation: fadeIn 2s 1s backwards, nudge 4s infinite;

      svg {
        margin-right: 10px;
        margin-left: 10px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: none !important;
        padding: 0 20px;
        justify-content: center;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: #ffd700;
        clip-path: polygon(90% 0%, 0% 0%, 0% 100%, 90% 100%, 100% 50%);
        animation: stretch 4s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
      }
    }

    @keyframes nudge {
      0% {
        padding: 0 20px;
        transform: translateX(0%);
        margin-left: 0;
      }

      15% {
        //padding-left: 30%;
        padding-left: 10px;
        transform: translateX(0);
        margin-left: 0;
      }
      20% {
        margin-left: 0;
        padding-left: 25%;
        //transform: translateX(100%);
      }

      30% {
        padding-left: 10%;
        margin-left: 0;
      }
      40% {
        margin-left: 0;
        padding-left: 50%;
        //transform: translateX(0%);
      }
      50% {
        margin-left: 30%;
        padding-left: 15%;
      }
      100% {
        margin-left: 0;
        padding: 0 20px;
        transform: translateX(0%);
      }
    }

    @keyframes stretch {
      0% {
        width: 0;
        margin-right: 100%;
      }

      20% {
        width: 60%;
        margin-right: 0;
      }
      40% {
        width: 80%;
        margin-right: 40%;
      }
      60% {
        width: 80%;
        margin-right: 20%;
      }
      100% {
        width: 50%;
        margin-left: 100%;
      }
    }
  }

  .bg-container {
    position: fixed;
    z-index: 0;
    width: auto;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: auto;
    mask-image: linear-gradient(to right, transparent, black);
  }
}

@media screen and (max-width: 600px) {
  .home-page {
    .bg-container {
      display: none;
    }
  }
  .text-zone {
    top: max(20%, 100px) !important;
    left: 50% !important;
    transform: translateX(-50%);
    width: 90% !important;

    h1 {
      line-height: 40px;
      font-size: 40px;
    }
    h2 {
      font-size: 20px !important;
      line-height: normal;
      padding-bottom: 5px;
      margin-bottom: 0;
    }

    .button-container {
      width: 90% !important;
      position: relative;
      margin-left: auto !important;
      margin-right: auto !important;

      .demo {
        animation: fadeIn 2s 1s backwards, nudge 4s infinite;
        transition: margin 0.3s ease !important;
      }

      @keyframes nudge {
        0% {
          padding: 0 20px;
          margin-left: 0;
        }

        15% {
          padding-left: 10px;
          margin-left: 0;
        }
        20% {
          margin-left: 0;
          padding-left: 25%;
        }

        30% {
          padding-left: 10%;
          margin-left: 0;
        }
        40% {
          margin-left: 0;
          padding-left: 30%;
        }
        50% {
          margin-left: 30%;
          padding-left: 10px;
        }
        100% {
          margin-left: 0;
          padding: 0 20px;
        }
      }
    }
  }
}
