.nav-bar {
  background: #1e1e1e;
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  scrollbar-width: thin;

  .logo {
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;
    font-size: 40px;
    background: #282828;
    border-radius: 20px;
    width: 80%;
    padding: 10px 0;

    &:hover {
      svg {
        color: white;
      }
    }
  }

  .nav {
    display: block;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 50px;
      height: 50px;
      position: relative;
      text-decoration: none;
      transition: all 0.3s ease-out;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: white;

        svg {
          color: white;
        }

        &:after {
          opacity: 1;
        }

        & ~ a {
          // only icons below selection
          transform: translateY(20px);
        }
      }

      &::after {
        content: '';
        font-size: 12px;
        letter-spacing: 2px;
        position: absolute;
        top: 40px;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }
    a.second-link {
      &:after {
        content: '2nd YEAR';
      }
    }
    a.third-link {
      &:after {
        content: '3rd YEAR';
      }
    }

    a.tools-link {
      flex-direction: column;
      .separator {
        height: 1px;
        background-color: #4d4d4e;
        margin: 10px auto;
        width: 75%;
      }
      &:after {
        content: 'ACCOUNT';
      }
    }
    a.active {
      svg {
        color: #ffd700;
      }
    }
  }

  .social {
    padding-top: 40px;
    margin-top: auto; /* Push .social to the bottom */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    a {
      width: 100%;
      font-size: 22px;

      &:first-child {
        &:hover {
          svg {
            color: #0072b1;
          }
        }
      }
      &:hover {
        svg {
          color: white;
        }
      }
    }
  }
}
