.dash {
  .form-zone {
    .input-form {
      position: absolute;
      left: max(10%, 150px);
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      max-height: 90%;
      text-align: left;
      z-index: 1000;

      h1 {
        color: #ffc700;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        text-shadow: 2px 2px 4px rgb(80, 80, 80);
      }
      h2 {
        color: #ffffff;
        font-size: 36px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        text-shadow: 2px 2px 4px rgb(80, 80, 80);

        strong {
          position: relative;
        
          &::after {
            content: '';
            position: absolute;
            bottom: -0.5rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 1rem;
            z-index: -1;
        
            background-image: url('../../assets/images/underline.svg');
            background-repeat: no-repeat;
            background-size: cover;
            filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
           //mask: url('../../assets/images/underline.svg');
          }
        }
      }

      .input-pair {
        margin-top: 10px;
        display: flex;
        max-width: 75%;
        min-width: 300px;

        label {
          min-width: 50px;
          background-color: rgba(70, 140, 140, 0.75);
          width: max-content;
          border-radius: 24px 0 0 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 14px;
          padding-left: 20px;
          backdrop-filter: blur(4px);
        }
        input {
          min-width: 100px;
          font-family: 'Helvetica';
          border-radius: 0 24px 24px 0;
          width: 100%;
          border: 0;
          backdrop-filter: blur(4px);
          background: rgba(70, 140, 140, 0.75);
          min-height: 50px;
          font-size: 14px;
          color: #fff;
          //padding: 0 20px;
          box-sizing: border-box;
          letter-spacing: 2px;
        }
        .curr-in {
          border-radius: 0;

        }
        .req-label {
          border-radius: 0;

          position: relative;
          &::before {
            position: absolute;
            content: '';
            left: 0;
            height: 75%;
            border-left: 2px solid white; /* Change the color to your preference */
          }
        }
      }

      .radio-button {
        display: flex;
        flex-direction: row;
        width: 75%;
        min-width: 340px;
        input[type='radio'] {
          position: fixed;
          opacity: 0;
          pointer-events: none;
        }
        

        label {
          backdrop-filter: blur(4px);
          letter-spacing: 4px;
          color: #fff;
          font-family: Arial;
          font-weight: bold;
          background-color: rgba(70, 140, 140, 0.75);
          font-size: 14px;
          cursor: pointer;
          min-height: 50px;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 24px 0 0 24px;

          &:last-child {
            border-radius: 0 24px 24px 0;
            position: relative;

            &::before {
              position: absolute;
              content: '';
              left: 0;
              height: 75%;
              border-left: 2px solid white; /* Change the color to your preference */
            }
          }
        }

        input[type='radio']:checked + label {
          background-color: rgb(255, 200, 50, 0.9);
        }
      }

      input[type='text'],
      #rollNumber {
        min-width: 340px;
        font-family: 'Helvetica';
        border-radius: 24px;
        width: 75%;
        border: 0;
        backdrop-filter: blur(4px);
        background: rgba(70, 140, 140, 0.75);
        min-height: 50px;
        font-size: 14px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
        letter-spacing: 2px;
      }
      input[type='number'],
      input[type='text']
      {
        appearance: textfield;

        &:focus {
          outline: none;
        }
      }
      .existing-pair {
        display: flex;
        flex-direction: row;
        width: 75%;
        min-width: 340px;

        button {
          width: calc(50% - 5px);
          margin-top: 10px;
          font-family: Arial;
          font-weight: bold;
          letter-spacing: 2px;
          border-radius: 5px;
          border: 0;
          backdrop-filter: blur(4px);
          background: rgba(255, 220, 100, 0.75);
          min-height: 50px;
          font-size: 14px;
          color: #000;
          padding: 0 20px;
          box-sizing: border-box;
          cursor: pointer;

          &:hover {
            background: rgba(
              255,
              200,
              50,
              0.9
            ); // Change the background color on hover
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a box shadow on hover
          }

          &:first-child{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;

            .icon {
              height: 20px;
              padding-right: 10px;
              margin-right: 10px;
              border-right: 1px solid black;
            }
          }
          &:nth-child(2) {
            margin-left: 5px;

            .icon {
              height: 20px;
              padding-right: 10px;
              margin-right: 10px;
              border-right: 1px solid black;
            }
          }
        }
      }

      .signout-button,
      .submit-button 
      {
        margin-top: 10px;
        min-width: 340px;
        font-family: Arial;
        font-weight: bold;
        letter-spacing: 2px;
        width: 75%;
        border-radius: 5px;
        border: 0;
        backdrop-filter: blur(4px);
        background: rgba(255, 220, 100, 0.75);
        min-height: 50px;
        font-size: 14px;
        color: #000;
        padding: 0 20px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
          background: rgba(
            255,
            200,
            50,
            0.9
          ); // Change the background color on hover
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a box shadow on hover
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .form-zone {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    backdrop-filter: blur(2px);

    .input-form {
      margin-left: 5% !important;
      left: 0 !important;
      top: max(20%, 50px) !important;
      //height: 100% !important;
      width: 90% !important;
      transform: translateY(0%) !important;

      input[type="text"],
      input[type='number'] {
        min-width: 0 !important;
        width: 100% !important;
        font-size: 12px !important;
        letter-spacing: 1px !important;
      }
      .radio-button {
        min-width: 0 !important;
        width: 100% !important;

        label {
          padding-left: 0 !important;
        }
      }

      .input-pair {
        min-width: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
      }

      
      .signout-button,
      .submit-button  {
        min-width: 0 !important;
        width: 100% !important;
        background-color: #ffd700 !important;
      }
      .signout-button  {
        margin-bottom: 40px;
      }

      label {
        font-size: 12px !important;
        padding-left: 10px !important;
      }

      .existing-pair {
        width: 100% !important;
        min-width: 0 !important;

        button {
          overflow: hidden;
          background-color: #ffd700 !important;
        }

        .delete-button {
          white-space: nowrap !important;
        }
      }
    }
  }
}