.dash {
  .form-zone {
    position: absolute;
    padding-left: max(10%, 150px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    text-align: left;
    z-index: 10;
    mask-image: linear-gradient(to left, transparent, black);

  }

  .bg-container {
    position: fixed;
    z-index: 0;
    width: auto;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: auto;
    z-index: 1;
  }
}
