.dash {
  .form-zone {
    .input-form {
      position: absolute;
      left: max(10%, 150px);
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      max-height: 90%;
      text-align: left;
      z-index: 1000;

      .radio-button {
        display: flex;
        flex-direction: row;
        width: 75%;
        input[type='radio'] {
          position: fixed;
          opacity: 0;
          pointer-events: none;
        }

        label {
          letter-spacing: 4px;

          color: #fff;
          font-family: Arial;
          font-weight: bold;

          background-color: rgba(70, 140, 140, 0.75);

          font-size: 14px;
          cursor: pointer;
          min-height: 50px;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 24px 0 0 24px;

          &:last-child {
            border-radius: 0 24px 24px 0;
            position: relative;
            

            &::before {
              position: absolute;
              content: '';
              left: 0;
              height: 75%;
              border-left: 1px solid white; /* Change the color to your preference */
            }
          }

          
        }

        input[type='radio']:checked + label {
          background-color: rgb(255, 200, 50, 0.9);
        }
      }

      input[type='text'],
      input[type='number'] {
        min-width: 300px;
        font-family: 'Helvetica';
        border-radius: 24px;
        width: 75%;
        border: 0;
        backdrop-filter: blur(4px);
        background: rgba(70, 140, 140, 0.75);
        min-height: 50px;
        font-size: 14px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
        letter-spacing: 2px;
      }
      input[type='number'] {
        appearance: textfield;
      }

      .submit-button {
        min-width: 300px;
        font-family: 'Helvetica';
        width: 75%;
        border-radius: 10px;
        border: 0;
        backdrop-filter: blur(4px);
        background: rgba(255, 220, 100, 0.75);
        min-height: 50px;
        font-size: 14px;
        color: #000;
        padding: 0 20px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
          background: rgba(
            255,
            200,
            50,
            0.9
          ); // Change the background color on hover
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a box shadow on hover
        }
      }
    }
  }
}
