.login {
  width: calc(100% - 100px);
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  height: 100%; // Adjust as needed for the desired height of the dashboard

  .login-header {
    z-index: 100;
    font-size: 53px;
    font-weight: bold;
    position: absolute;
    left: max(10%, 150px);
    top: 10%;
    color: #ffc700;
    font-size: 53px;
    font-family: 'Coolvetica';
    font-weight: 400;
    text-shadow: 2px 2px 4px rgb(80, 80, 80);
    width: 40%;

    .login-body {
      margin-top: 20px;
      text-align: left;
      width: 100%;
      color: #ffffff;
      position: absolute;
      top: calc(10% + 60px);
      min-width: 320px;
      padding-right: 20px;
      padding-bottom: 90px;
      font-size: 28px;
      font-family: sans-serif;
      text-shadow: 1px 1px 2px #000;
      font-weight: bold;
      //animation: fadeIn 1s 0.5s backwards;

      h3 {
        margin-top: 20px;
        margin-bottom: 24px;
        color: #4d4d4e;
        font-size: 20px;
        font-family: 'Coolvetica';
        font-weight: 1;
        text-shadow: none;
        text-shadow: 2px 1px 1px #ffffff;
      }
      .two-buttons {
        display: flex;
        padding-bottom: 40px;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        //width: calc(100vw - 100px - max(10%, 150px));
        //justify-content: center;

        .button {
          height: 60px;
          margin-right: 20px;
          margin-top: 20px;
          //font-weight: bold;
          text-align: left;
          display: flex;
          //position: absolute;
          align-items: center;
          justify-content: center;
          width: fit-content;
          font-size: 16px;
          font-family: sans-serif;
          letter-spacing: 2px;
          white-space: nowrap;
          color: #222;
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 40px;
          border: none;
          background: rgba(220, 220, 220, 0.2);
          backdrop-filter: blur(6px);
          box-shadow: 6px 8px 14px rgb(31, 124, 93, 0.7),
            -6px -8px 14px rgb(255, 255, 255, 0.5);
          cursor: pointer;

          &:hover {
            box-shadow: inset 2px 2px 4px rgb(0, 0, 0, 0.5),
            6px 8px 14px rgb(31, 124, 93, 0.7),
              -6px -8px 14px rgb(255, 255, 255, 0.5) !important;
            background: #ffd700;
            color: #444;
          }

          .google-logo {
            padding-right: 10px;
            border-right: 1px solid black;
            width: 32px; // Adjust as needed for the size of the logo
            margin-right: 10px; // Adjust as needed for the spacing between the logo and text
          }
        }

        .demo {
          text-shadow: none;
          height: 60px;
          font-weight:lighter;
          margin-right: 20px;
          margin-top: 20px;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          font-size: 16px;
          font-family: sans-serif;
          letter-spacing: 2px;
          white-space: nowrap;
          color: #222;
          text-decoration: none;
          padding: 0 20px;
          border-radius: 40px;
          border: none;
          background: rgba(220, 220, 220, 0.2);
          backdrop-filter: blur(6px);
          box-shadow: 6px 8px 14px rgb(31, 124, 93, 0.7),
            -6px -8px 14px rgb(255, 255, 255, 0.5);
          cursor: pointer;

          &:hover {
            box-shadow: inset 2px 2px 4px rgb(0, 0, 0, 0.5),
            6px 8px 14px rgb(31, 124, 93, 0.7),
              -6px -8px 14px rgb(255, 255, 255, 0.5) !important;
            background: #ffd700;
            color: #444;
          }

          .eyecon {
            padding-right: 10px;
            border-right: 1px solid black;
            height: 32px; // Adjust as needed for the size of the logo
            margin-right: 10px; // Adjust as needed for the spacing between the logo and text
          }
        }
      }
    }
  }
  .bg-container {
    position: fixed;
    z-index: 0;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: auto;
    //filter: blur(1px);
    mask-image: linear-gradient(to right, transparent, black);
  }
}


@media screen and (max-width: 600px) {
  .login {
    width: 100% !important;
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    height: 100% !important;
    
    
    .bg-container {
      position: fixed;
      top: 0 !important;
      bottom: 0 !important;
      left: auto !important;
      right: auto !important;
      width: 100% !important;
      height: auto !important;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: fixed;
        top: 100px;
        width: 150%;
        filter: blur(2px); /* Adjust the value to control the blur intensity */
      }
      
      //background-size: cover;
      //-moz-background-size: cover;
      //background-position: center center;
      //z-index: -10;
    }

    .login-header {
      left: 5%;
      width: 90% !important;
      top: max(20%, 100px);

      .login-body {
        font-size: 20px;
        margin-top: 5px;
        min-width: 0;
        padding-right: 0;

        .two-buttons {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .button {
            margin-right: 0 !important;
          }
        }

        h3 {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}