.login {
  width: calc(100% - 100px);
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  height: 100vh; // Adjust as needed for the desired height of the dashboard

  .login-header {
    z-index: 100;
    font-size: 53px;
    font-weight: bold;
    position: absolute;
    left: max(10%, 150px);
    top: 20%;
    color: #ffc700;
    font-size: 53px;
    font-family: 'Coolvetica';
    font-weight: 400;
    text-shadow: 2px 2px 4px rgb(80, 80, 80);
    width: 40%;
    

    .login-body {
      margin-top: 20px;
      text-align: left;
      width: 100%;
      color: #ffffff;
      position: absolute;
      top: calc(10% + 60px);
      min-width: 320px;
      padding-right: 20px;
      padding-bottom: 90px;
      font-size: 28px;
      font-family: sans-serif;
      text-shadow: 1px 1px 2px #000;
      font-weight: bold;
      //animation: fadeIn 1s 0.5s backwards;

      h3 {
        margin-top: 20px;
        margin-bottom: 24px;
        color: #4d4d4e;
        font-size: 20px;
        font-family: 'Coolvetica';
        font-weight: 1;
        text-shadow: none;
        text-shadow: 2px 1px 1px #ffffff;

      }
      .button {
        margin-right: 20px;
        margin-top: 20px;
        //font-weight: bold;
        text-align: left;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: fit-content;
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 2px;
        white-space: nowrap;
        color: #222;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 40px;
        border: none;
        background: rgba(220, 220, 220, 0.2);
        backdrop-filter: blur(6px);
        box-shadow: 6px 8px 14px rgb(31, 124, 93, 0.7),
          -6px -8px 14px rgb(255, 255, 255, 0.7);

        //animation: fadeIn 2s 1s backwards, buttonShadow 2s 1s backwards ;

        &:hover {
          box-shadow: inset 2px 2px 4px rgb(0, 0, 0, 0.5),
            6px 8px 14px rgb(100, 160, 140, 0.7),
            -6px -8px 14px rgb(255, 255, 255, 0.5) !important;
          background: #ffd700;
          color: #444;
        }

        .google-logo {
          padding-right: 10px;
          border-right: 1px solid black;
          width: 32px; // Adjust as needed for the size of the logo
          margin-right: 10px; // Adjust as needed for the spacing between the logo and text
        }
      }
    }
  }
  .bg-container {
    position: fixed;
    z-index: 0;
    width: auto;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: auto;
    //filter: blur(1px);
    mask-image: linear-gradient(to right, transparent, black);
  }
}
