html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  background: linear-gradient(135deg, #ffffff, #009688);
  overflow: auto;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-size: 120% 120vh; /* Updated line */
}