.second {
  .table-zone {
    position: relative;
    top: 5%;
    left: 100px;
    width: calc(100% - 100px);
    max-height: 90%;
    text-align: left;
    z-index: 10;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-zone {
      z-index: 100;
      top: 0;
      position: relative;
      align-self: flex-start;
      margin-left: 5%;
      margin-bottom: 20px;
      //width: calc(100% - 100px);

      .table-header {
        color: #ffc700;
        font-size: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;
        text-shadow: 2px 2px 4px rgb(80, 80, 80, 0.8);
      }
    }

    .filter-zone {
      width: 90%;
      align-self: flex-start;
      margin-left: 5%;
      display: flex;
      flex-direction: row;

      .drop-menu {
        width: fit-content;
        //max-width: min-content;
        select {
          min-width: fit-content;
          width: 100%;
          font-family: 'Helvetica';
          border: 1px solid rgba(255, 220, 100, 0.75);
          font-size: 14px;
          color: #000;
          padding: 10px 0 10px 20px;
          //box-sizing: border-box;
          border-radius: 24px 0 0 24px;
          background-color: rgba(255, 220, 100, 0.75);
        }
      }

      input[type='numeric'] {
        font-family: 'Helvetica';
        border-radius: 0 24px 24px 0;
        max-width: fit-content;
        border: 0;
        font-size: 16px;
        color: #000;
        padding: 10px 20px;
        box-sizing: border-box;
        letter-spacing: 2px;
        width: 100%;
      }
    }
    .table-container {
      position: relative;
      align-self: flex-start;
      margin-left: 5%;
      margin-bottom: 20px;
      width: 90%;
      max-height: 75vh;
      overflow-y: auto;
      margin-top: 20px;
      //border-radius: 24px;
      box-shadow: 6px 8px 14px rgba(31, 124, 93),
        -6px -8px 14px rgb(255, 255, 255, 0.7);
      scrollbar-width: thin;
      scrollbar-color: rgb(76, 76, 76) rgba(255, 255, 255, 0);

      table {
        //border: 1px solid black;
        border-collapse: separate;
        width: 100%;
        border-spacing: 0;

        thead {
          position: sticky;
          top: 0;
          background-color: rgb(255, 220, 100, 1);
        }

        th,
        td {
          white-space: nowrap;
          padding: 10px 20px;
          font-size: 20px;
          font-family: 'Coolvetica';
          font-weight: 1;
          border-right: 1px solid black; /* Add this line to create column separators */
        }

        th:last-child,
        td:last-child {
          border-right: none; /* Remove border from the last column to avoid extra separator */
        }

        th {
          cursor: pointer;
          text-align: center;
          background-color: rgb(255, 220, 100, 0.75);
        }

        th.email-head {
          cursor: default;
        }

        tr:nth-child(even) {
          background-color: #f9f9f9;
        }
        td {
          left: 50%;
        }
      }
    }
  }
}
