.disclaimer-table {
  margin-top: 10px;
  font-family: Arial;
  width: fit-content;
  border-radius: 5px;
  border: 0;
  backdrop-filter: blur(4px);
  background-color: rgb(255, 255, 255, 0.2);
  min-height: 50px;
  font-size: 14px;
  color: #424242;
  padding: 10px 10px;
  box-sizing: border-box;
}

.back-button-table {
  margin-bottom: 40px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 22px;
  font-family: 'Coolvetica';
  text-decoration: none;
  background-color: rgba(42, 96, 96, 0.75);
  color: #fff;
  backdrop-filter: blur(4px);
  clip-path: polygon(92.5% 0%, 0% 0%, 0% 100%, 92.5% 100%, 100% 50%);
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  svg {
    margin-right: 10px;
    margin-left: 10px;
  }
  animation: nudge-demo 4s infinite;
}

@media screen and (max-width: 600px) {
  .disclaimer-table {
    width: 90%;
  }
}